// paletas de colores 

$color-de-fondo: black;
$color-text: white;

// fuentes    font-family: $Georgia;
$Georgia: Georgia, 'Times New Roman', Times, serif;
$bebas: 'Bebas Neue', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// media-queries

$smartphone: 480px;
$tablets: 728px;
$desktop: 1024px;


// tamaño fuentes

$font-principal: 1.2rem;
$font-secondary: .5rem;
$font-title: 2rem;
$font-text: 1.5rem;
$font-size: 2.5em;

// espaciados

$spacing-small: 0.5rem;
$spacing-medium: 2rem;
$spacing-large: 3.5rem;

//EXTEND ( lo hice en el _home scss )