// paletas de colores 

$color-principal: black;
$color-secundary: #F4F406;
$color-text: white;
$bg-principal: black;
$bg-secundary: #F4F406;

// tamaño fuentes

$font-principal: 1.2rem;
$font-secondary: .5rem;
$font-title: 2rem;
$font-text: 1.5rem;

// espaciados

$spacing-small: 0.5rem;
$spacing-medium: 2rem;
$spacing-large: 3.5rem;

// fuentes

$bebas: 'Bebas Neue', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// media-queries

$smartphone: 480px;
$tablets: 728px;
$desktop: 1024px;