.btnContact {
  font-family: $bebas;
  margin-left: 30%;
  font-size: 2rem;
  width: 40%;
  border: none;
  border-radius: 0rem;
  padding: 1.5%;
  background: black;
  color: #F4F406;
  cursor: pointer;
  border-radius: 50px;


}