.contact-page__map {
    border-top: rgba(109, 107, 108, 0.8078431373) solid 1px;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  .contact-page__map .iframe-cnt-page {
    width: 500px;
    height: 500px;
  }
  @media screen and (min-width: 992px) {
    .contact-page__map .iframe-cnt-page {
      width: 60%;
      height: 600px;
    }
  }


  .contact-image {
    text-align: center;
  }
  .contact-image img {
    border-radius: 15rem;
    width: 5%;
    margin-top: -4%;
    margin-bottom: 0;
  }
  .contact-image:hover {
    transform: scale(0.85);
    transition: 1s;
  }
  
  .contact-form {
    background: orange;
    width: 60rem;
    height: 43rem;
    border-radius: 300px !important;
    
  }
  .contact-form form {
    padding: 7%;
  }
  .contact-form h3 {
    font-family: "Bebas Neue", sans-serif;
    border-radius: #111;
    font-size: 3rem;
    margin-bottom: 8px;
    margin-top: 20px;
    text-align: center;
    color: black;
  }
  
  .btnContact {
    font-family: "Bebas Neue", sans-serif;
    margin-left: 200px;
    font-size: 2rem;
    width: 50%;
    border: none;
    border-radius: 0rem;
    padding: 1.5%;
    background: black;
    color: #F4F406;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .form-group::placeholder {
    font-size: 0.7rem;
 
  }

  .form-group{

    padding: 15px;
  }
  
  .contacto {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 500px;
  }
  
  .form-control {
    resize: none;
  }
  
  .row {
    padding-top: 2rem;
  }
 

    @media (min-width: 320px) and (max-width: 991.98px) {
        .row.single-form {
          border-top-right-radius: 15px;
          border-bottom-left-radius: 15px;
        }
      }
      @media (min-width: 320px) and (max-width: 991.98px) {
        .left {
          border-top-right-radius: 15px;
        }
      }
      @media (min-width: 320px) and (max-width: 991.98px) {
        .left {
          border-bottom-left-radius: 0px;
        }
      }
      @media (max-width: 767px) {
        .left {
          padding: 90px 15px;
          text-align: center;
        }
        .left h2 {
          font-size: 25px;
        }
        .right {
          padding: 25px;
          
        }
        .right i {
          top: -52px;
          transform: rotate(90deg);
          left: 46%;
        }
        .right button {
          width: 150px;
          padding: 12px 0;
         
        }
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .news-info {
          padding-left: 5%;
          padding-right: 5%;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .news-info {
          font-size: 1.5em;
          padding-top: 10%;
          padding-left: 5%;
          padding-right: 5%;
        }
      }
      @media (min-width: 320px) and (max-width: 575.98px) {
        .news-info {
          font-size: 1em;
          padding-top: 10%;
          padding-left: 5%;
          padding-right: 5%;
        }
      }
      
      @media (min-width: 576px) and (max-width: 767.98px) {
        .news-box {
          width: 30rem;
        }
      }
      @media (min-width: 320px) and (max-width: 575.98px) {
        .news-box {
          width: 18rem;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .news-box input {
          width: 19.5rem;
        }
      }
      @media (min-width: 320px) and (max-width: 575.98px) {
        .news-box input {
          width: 10rem;
          font-size: 1em;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .news-box button {
          width: 8rem;
          font-size: 0.7em;
        }
      }
      @media (min-width: 320px) and (max-width: 575.98px) {
        .news-box button {
          width: 6rem;
          font-size: 0.7em;
          text-align: center;
        }
      }