
.carousel {

  @media (max-width: $desktop) {
    display: none;
  }
}


.descuentos-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 30px;
  padding: 10px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 10px;
  }
}

.index-title {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 6%;
  padding-bottom: 25px;
  color:$color-text;
  background-color: #000000;
  text-align: center;


  h1 {
    font-size: 3em;
    color: green;
font-family: $bebas;
  }


}

.index-info {
  background-color:#000000;
  color: $color-text;
  letter-spacing: 0.05em;
  font-size: $font-size;
  padding-top: 10px;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  text-align: center;
  font-family: $bebas;
}

.seasson {
  padding: 25px 30px;
  text-align: center;
  color: $color-text;

  h3 {
    font-size: 30px;
    font-family: $bebas;
  }
  p {
@extend .index-info;

  }
}

.featured-products {
  padding-bottom: 8%;
  display: flex;
  justify-content: center;

  img {
    border: 4px #33353a solid;
    border-radius: 10%;
    margin: 5px;
    padding: 10px 10px;
    width: 325px;
  }
}

.carousel-inner {
  height: 400px;
}

.carousel-item.active img {
  height: 100%;
  left: 0;
  top: 0;
}

.carousel-item img {
  height: 100%;
  left: 0;
  top: 0;
}



.caja-wsp {
  position: fixed;
  position: absolute;
  right: 5px;
}


@media (min-width: 320px) and (max-width: 767.98px) {
  .header-index {
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 500px) and (max-width: 767.98px) {
  .index-title {
    font-size: 0.8em;
  }
}

@media (min-width: 400px) and (max-width: 499.98px) {
  .index-title {
    font-size: 0.6em;
  }
}

@media (min-width: 320px) and (max-width: 399.98px) {
  .index-title {
    font-size: 0.4em;
  }
}

@media (min-width: 400px) and (max-width: 645px) {
  .index-info {
    font-size: 1.2em;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .index-info {
    font-size: 1em;
    text-align: start;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .index-info {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .seasson h2 {
    font-size: 1.8em;
  }
}

@media (min-width: 1001px) and (max-width: 1200px) {
  .featured-products img {
    width: 300px;
  }
}

@media (min-width: 767px) and (max-width: 1000px) {
  .featured-products img {
    width: 230px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .featured-products img {
    width: 450px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .featured-products img {
    width: 300px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .featured-products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}