.service-title {
  padding: 50px 50px;
  color: #eef1f8;
  text-align: center;

  h1 {
    display: inline-block;
    font-size: 3em;
    border-bottom: #00ab5b solid;
  }
}

.stack-1 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 8%;
  padding-bottom: 8%;
}

.info-service {
  height: 80%;
  width: 80%;
  color: #eef1f8;
  padding-left: 40%;
  padding-right: 40%;
  background-color: red;
  margin: 20px;
  border-radius: 20px;


  transition: 1s;

  &:hover {
    background-image: linear-gradient(to top, red, orange);
    transform: translateY(0px) scale(100%) rotate(360deg)
  }

  h2 {
    padding-left: 1%;
    font-size: 6em;
  }

  p {

    font-size: 3rem;

  }

  ul li {
    font-size: 1.2em;
    list-style-type: disc;
  }

  ul li::marker {
    font: 1.2em;
    color: #fff024;
  }

  h2 span {
    color: #fff024;
  }
}

.service-1 {
  height: 40rem;
  width: 30rem;
  margin-right: 10%;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  background-color: #00ab5b;
  z-index: 0;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);

  img {
    position: relative;
    width: 93.5%;
    height: 91.5%;
    top: 4.5%;
    left: 3.2%;
    border-radius: 0.5rem;
    padding-bottom: 2px;
  }
}

.service-1::before {
  content: "";
  height: 200%;
  width: 200%;
  position: absolute;
  background: conic-gradient(#fd004c,
      #fe9000,
      #fff024,
      #3edf4b,
      #3363ff,
      #b102b7,
      #fd004c);
  left: -30%;
  top: -50%;
  animation: spin 5s infinite linear;
}


@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }




}

@media (min-width: 992px) and (max-width: 1372px) {
  .info-service {
    height: 40%;
    width: 40%;
    padding-left: 5%;
    padding-right: 0%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .info-service {
    font-size: 13px;

    height: 300px;
    width: 600px;
    padding-left: 100px;


  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .info-service {
    padding-left: 0%;
    padding-right: 0%;
  }
}

@media (min-width: 320px) and (max-width: 575.98px) {
  .info-service {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (min-width: 320px) and (max-width: 350px) {
  .info-service {
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 10%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .info-service h2 {
    text-align: center;
    padding-left: 0;
    font-size: 4.5em;
  }
}

@media (min-width: 992px) and (max-width: 1372px) {
  .info-service h2 {
    font-size: 4em;
  }
}

@media (min-width: 576px) and (max-width: 802px) {
  .info-service h2 {
    font-size: 3em;
  }
}

@media (min-width: 320px) and (max-width: 575.98px) {
  .info-service h2 {
    text-align: center;
    font-size: 2.6em;
    padding-bottom: 5%;
  }
}

@media (min-width: 320px) and (max-width: 347px) {
  .info-service h2 {
    font-size: 2.3em;
  }
}

@media (min-width: 992px) and (max-width: 1372px) {
  .info-service p {
    font-size: 1.1em;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .info-service p {
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 30px;
  }
}

@media (min-width: 320px) and (max-width: 575.98px) {
  .info-service p {
    font-size: 1.6em;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .info-service p {
    font-size: 1.4em;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .info-service ul {
    padding-bottom: 10%;
    margin-left: 30px;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .info-service ul {
    padding-bottom: 10%;
    margin-left: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1372px) {
  .info-service ul li {
    font-size: 1em;
    margin-left: 50px;

  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .info-service ul li {
    padding-top: 5%;
    font-size: 1.1em;
    margin-left: 50px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .stack-1 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
    padding-bottom: 8%;
  }
}

@media (min-width: 320px) and (max-width: 575.98px) {
  .stack-1 {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20%;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .service-1 {
    margin-right: 0%;
    height: 30rem;
    width: 20rem;

  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .service-1 {
    margin-right: 0%;
    height: 30rem;
    width: 20rem;
    margin-top: 100px;
  }
}

@media (min-width: 450px) and (max-width: 575.98px) {
  .service-1 {
    margin-right: 0%;
    height: 25rem;
    width: 20rem;
  }
}

@media (min-width: 320px) and (max-width: 449.98px) {
  .service-1 {
    margin-right: 0%;
    height: 25rem;
    width: 20rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .service-1 {
    margin-right: 0%;
    height: 50rem;
    width: 15rem;
  }
}


@media (min-width: 992px) and (max-width: 1372px) {
  .service-1::before {
    left: -40%;
    top: -50%;
  }
}


