html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color: $color-de-fondo;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: 140%
}

.footer-movil {
    width: 100vh;
}