.navbar-nav {
  color: $color-text;
}


.bg-color-coder {
  background-color: black;
  color: $color-text;
}


.collapse navbar-collapse {
  color: $color-text;
}

.nav-link {
  color: $color-text;
}

.navbar-toggler {
  background-color: $color-text;
}


.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.nav-item a {
  font-size: 20px;
  text-decoration: none;
  color: $color-text;
  font-family: $Georgia;
  font-weight: bold;
  padding: 5px;
  transition: 1s;
  margin: 15px;

}

.nav-item a:hover {
  color: red;
  margin: 5px;


  &:active {
    color: $color-text;
    text-decoration: overline;
  }
}